<style>
    .banner {
        justify-content: space-between;
        align-content: center;
        text-align: center;
        display: flex;
        width: 100%;
        margin: 0px auto;
    }

    /*.col-sm-4, .col-sm-8, .col-sm-12 {
        flex: 1;
    }*/

    .absolute-center {
        /* Internet Explorer 10 */
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;
        /* Firefox */
        display: -moz-box;
        -moz-box-pack: center;
        -moz-box-align: center;
        /* Safari, Opera, and Chrome */
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        /* W3C */
        display: box;
        box-pack: center;
        box-align: center;
        min-width: 0;
    }

    .row
    {
        margin:10px 0px;
    }

    img
    {
        display:block;
        margin:0px auto;
    }

    .img-responsive
    {
        width:100%;
        height:auto;
    }
</style>


<div>
    <div class="row banner">
        <div class="col-sm-5"><img src="~/Images/res/product.png" class="img-responsive" /></div>
        <div class="col-sm-7" style="display:flex; align-items:center; flex-direction:column;">
            <div style="flex:1;" class="absolute-center">
                <h3>Musical Synesthesia</h3>
            </div>
            <div style="flex:1;">Your favorite song as visual art on a personalized canvas.</div>
        </div>
    </div>
</div>


@*<div>
    <div class="row banner">
        <div class="col-sm-6"><img src="~/Images/res/waveform.png" class="img-responsive" /></div>
        <div class="col-sm-6" style="display:flex; align-items:center; flex-direction:column;">
            <div style="flex:1;" class="absolute-center">
                <h3>Extracting Amplitude and Frequency</h3>
            </div>
            <div style="flex:1;">
                Intensity, pitch, timbre, and duration manipulated into waveforms.
            </div>
        </div>
    </div>
</div>*@

<div class="row banner">
    <div class="col-sm-6">
        <button type="button" class="transition-button" onclick="location.href='@Url.Action("Gallery",  "Home")'" >View Gallery</button>
    </div>
    <div class="col-sm-6">
        <img src="~/Images/res/canvas_on_wall.png" class="img-responsive" />
    </div>
</div>

<div class="row banner">
    <div class="col-sm-8">
        <img src="~/Images/res/RyanNicole-6.jpg" class="img-responsive img-circle" />
    </div>
    <div class="col-sm-4">
        <div>
            <h3>Ryan Henderson</h3>
            <p>Engineer behind Audio Optio</p>
        </div>
    </div>
</div>