@{
    ViewBag.Title = "Gallery";
}
<h1 class="emphasize">@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-4">

        <a href="~/Images/Humble1.png" data-fancybox="images" data-caption="Humble by Kendrick Lamar">
            <img src="~/Images/Humble1.png" class="img-thumbnail" />
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Images/Hunter_the_rain_v7.png" data-fancybox="images" data-caption="The Rain by Calvin Harris">
            <img src="~/Images/Hunter_the_rain_v7.png" class="img-thumbnail">
        </a>
    </div>


    <div class="col-md-4">
        <a href="~/Images/Mom_grapevine_v8_HIGHRES2.png" data-fancybox="images" data-caption="Through the Grapevine by Marvin Gaye">
            <img src="~/Images/Mom_grapevine_v8_HIGHRES2.png" class="img-thumbnail">
        </a>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <a href="~/Images/RoughBoyPS.png" data-fancybox="images" data-caption="Rough Boy by ZZ Top" data-caption="Rough Boy by ZZ Top">
            <img src="~/Images/RoughBoyPS.png" class="img-thumbnail">
        </a>
    </div>


    <div class="col-md-4">
        <a href="~/Images/Bohe_Rap.png" data-fancybox="images" data-caption="Bohemian Rhapsody by Queen">
            <img src="~/Images/Bohe_Rap.png" data-caption="Bohemian Rhapsody by Queen" class="img-thumbnail">
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Images/Bohe_Rap_abstract.png" data-fancybox="images" data-caption="Bohemian Rhapsody by Queen">
            <img src="~/Images/Bohe_Rap_abstract.png" data-caption="Queen  by Bohemian Rhapsody" class="img-thumbnail">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="~/Images/Bohe_Rap_abstract2.png" data-fancybox="images" data-caption="Bohemian Rhapsody by Queen">
            <img src="~/Images/Bohe_Rap_abstract2.png" data-caption="Bohemian Rhapsody by Queen" class="img-thumbnail">
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Images/EP1.png" data-fancybox="images" data-caption="Modern Age by The Strokes">
            <img src="~/Images/EP1.png" data-caption="Modern Age by The Strokes" class="img-thumbnail">
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Images/EP3bar.png" data-fancybox="images" data-caption="Modern Age by The Strokes">
            <img src="~/Images/EP3bar.png" data-caption="Modern Age by The Strokes" class="img-thumbnail">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="~/Images/PurpleRain.png" data-fancybox="images" data-caption="Purple Rain by Prince">
            <img src="~/Images/PurpleRain.png" data-caption="Purple Rain by Prince" class="img-thumbnail">
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Images/RememberWhen.png" data-fancybox="images" data-caption="Remember When by Alan Jackson">
            <img src="~/Images/RememberWhen.png" data-caption="Remember When by Alan Jackson" class="img-thumbnail">
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Images/SomethingAboutBlue.png" data-fancybox="images" data-caption="Something About Us by Daft Punk">
            <img src="~/Images/SomethingAboutBlue.png" data-caption="Something About Us by Daft Punk" class="img-thumbnail">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="~/Images/SomethingAboutGreen.png" data-fancybox="images" data-caption="Something About Us by Daft Punk">
            <img src="~/Images/SomethingAboutGreen.png" data-caption="" class="img-thumbnail">
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Images/TOF_warp.png" data-fancybox="images" data-caption="Everybody Wants To Rule the World by Tears for Fears">
            <img src="~/Images/TOF_warp.png" data-caption="Everybody Wants To Rule the World by Tears for Fears" class="img-thumbnail">
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/Images/EWTRTW.png" data-fancybox="images" data-caption="Everybody Wants To Rule the World by Tears for Fears">
            <img src="~/Images/EWTRTW.png" data-caption="Everybody Wants To Rule the World by Tears for Fears" class="img-thumbnail">
        </a>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <a href="~/Images/WayBackHome.png" data-fancybox="images" data-caption="Way Back Home by Bag Raiders">
            <img src="~/Images/WayBackHome.png" data-caption="Way Back Home" class="img-thumbnail">
        </a>
    </div>


    <div class="col-md-4">
        <a href="~/Images/WayBackHome_v2.png" data-fancybox="images" data-caption="Way Back Home by Bag Raiders">
            <img src="~/Images/WayBackHome_v2.png" data-caption="Way Back Home" class="img-thumbnail">
        </a>
    </div>


    <div class="col-md-4">
        <a href="~/Images/WayBackHome_scatter.png" data-fancybox="images" data-caption="Way Back Home by Bag Raiders">
            <img src="~/Images/WayBackHome_scatter.png" data-caption="Way WayBackHome_scatter Home" class="img-thumbnail">
        </a>
    </div>

</div>