@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="aligner">
    <div class="faded-bg">
        <h1 style="display:block;">Audio Optio</h1>
        <h2>Music to your Eyes</h2>
    </div>
    <button type="button" onclick="location.href='@Url.Action("Order",  "Order")'">Order Now</button>
</div>
