
@font-face {
    font-family: 'Rochester';
    src: url('../fonts/Rochester-Regular.ttf') format('truetype');
    src: url(../fonts/Rochester.woff) format('woff');
}

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Arapey';
    src: url('../fonts/Arapey-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SonsieOne';
    src: url('../fonts/SonsieOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lobster-Regular';
    src: url('../fonts/Lobster-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Mitr-Medium';
    src: url('../fonts/Mitr-Medium.ttf') format('truetype');
}